# Hosts a los que conectarse para realizar el provisionamiento.
- hosts: production

  # Usuario a utilizar.
  remote_user: vagrant

  # Tareas a realizar.
  tasks:

    - name: Test ansible
      copy: content="IT WORKS!\n" dest=/home/vagrant/ansible_runs
      
    # Tendremos que agregar el repositorio de python3 ya que nuestra version de Ubuntu no trae por defecto
    - name: Agregar repo python 3.6
      become: true
      apt_repository: repo=ppa:deadsnakes/ppa state=present

    - name: Update apt
      become: true
      apt:
        upgrade: yes
        update_cache: yes

    - name: Instalar docker
      become: true
      apt: pkg=docker.io state=present

    - name: Cambio permisos docker
      become: true
      file: path=/var/run/docker.sock owner=vagrant group=docker

    - name: Instalar Python 3.6
      become: true
      apt: pkg=python3.6 state=present

    - name: Instalar pip3
      become: true
      apt: pkg=python3-pip state=latest

    - name: Instalar pip
      become: true
      apt: pkg=python-pip state=latest

    - name: Instalar setuptools
      become: true
      pip: name=setuptools state=latest

    - name: Ejecutar servicio Docker
      become: true
      service: name=docker state=started

    # Descargar el contenedor que contiene el proyecto.
    - name: Descargar docker Proyecto
      docker_image: name=kronos483/proyectoiv state=present